body {
    background-color: #353535;

    margin-left: 20px;
    margin-right: 20px;
    height: 96vh;
}


.header {
    display: flex;
    align-items: center; 
}

.halfer{
    height: 50%;
}

.header h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 36px;
    font-weight: 800;
}

.line {
    border: 4px solid black;
    border-radius: 5px;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:80%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    background-color: #353535;
    border: 2px solid black;
    border-radius: 20px;
}

#garb{
    background-color: blue;
}

#aqua{
    background-color: aqua;
}

.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

video {
    min-width: 400px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#qualityOptions button {
    margin-right: 10px;
}

.modal-dialog {
    width: 80%;
    max-width: 80%;
    height: 80%;
    max-height: 80%;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-header{
    background-color: #202020;
    color:white;
}

.modal-body {
    background-color: #353535;
    color: white;
    flex: 1;
    overflow-y: auto;
    text-align: center;
    position: relative;
}

#modalVideo {
    width: 100%;
    height: 80%;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #202020;
    color: white;
    height: 4vh;
}

footer p {
    margin: 0; 
}